version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trade-bot
    restart: always
    depends_on:
      - db
    ports:
      - "8075:8075"
    volumes:
      - ./pkg/client/google/credentials.json:/app/pkg/client/google/credentials.json
      - ./pkg/client/google/token.json:/app/pkg/client/google/token.json
      - ./assets/font.ttf:/assets/font.ttf
      - ./.env:/app/.env
      - ./assets/barcodes:/assets/barcodes

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280

volumes:
  pgdata:
